<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Təhsil və Tədris Mərkəzi</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <!-- Start Header -->
   <header id="header">
  <!-- Start Nav -->

    <nav class="navbar">   
<img class="logo" src="./logo/ottmlogo1.jpg" alt="">
<div class="nav-links">
    <ul>
    <li> <a href="#">Home</a></li>
    <li> <a href="#">Profile</a></li>
    <li> <a href="#">Courses</a></li>
    <li> <a href="#">Contact</a></li>
    </ul>
    
</div>
<div class="sign_in">
    <a href="#" class="sign_in_a">Sign In</a>
  </div>
</nav>
  <!-- End Nav -->

  <div class="paragraphy">
  <h1 class="paragraphy_title">Discover best classes for the best learning</h1>
</div>
<p>We designed Connections Academy to give students all across the nation a tuition-free online public school that lets them learn.</p>
<div class="get_started">
    <a href="#" class="get_started_a">Get Started</a>
  </div>
  <h5>Not sure when to start? <a href="#">Lern more</a></h5>

<div class="header_man_pic"></div>
<div class="top_box"></div>
<div class="increase"></div>
<div class="cap"></div>
<div class="first_footer_paragraphy">
<h1>400+</h1>
<p class="first_footer_p">Universities worldwide that partner with us</p>
</div>
<div class="first_footer_picture"></div>
</header>
  <!-- End Header -->
<!-- ---------------------------------------------------------------------- -->

<!-- Start Second Space -->
<div id="second_space">
    <div class="second_left_space"></div>
    <h1>HOW OUR ONLINE PUBLIC SCHOOL WORKS</h1>
    <section class="first_section">
      <figure class="first_figure">
        <img src="./images/second_space/Vector1.png" >
      </figure>
      <h3>Virtual learning</h3>
      <p>The only costs are for standard school supplies and voluntary field trips.</p>
    </section>
    <section class="second_section">
      <figure class="second_figure">
        <img src="./images/second_space/Vector.png" >
      </figure>
      <h3>Meaningful Education</h3>
      <p>Many of our Connections Academy schools have additional accreditations.</p>
    </section>

    <section class="three_section">
      <figure class="four_figure">
        <img src="./images/second_space/Outline1.png" >
      </figure>
      <h3>Online curriculum</h3>
      <p>Our curriculum prepares students to go further in life by giving them support.</p>
    </section>

    <section class="four_section">
      <figure class="three_figure">
        <img src="./images/second_space/Outline.png" >
      </figure>
      <h3>Social interaction</h3>
      <p>Students at Connections Academy collaborate on projects together..</p>
    </section>
</div>
<!-- End Second Space -->
<!-- ------------------------------------------------------ -->
<!-- Start three Space -->
<div id="three_space">
  <div>
  <h1>How ou online public school works</h1>
  <div class="view_all">
    <a href="#" class="view_all_a">view all courses</a>
  </div>
</div>
<section class="three_space_section_first">
  <figure class="three_space_section_first_figure"></figure>
  <h3>Hands-On Python & R In Data Science</h3>
  <span> 
    <span class="material-icons-outlined">
      person
    </span>
    <p>1,45,690</p>
  </span>
</section>



</div>









<!-- End three Space -->

</body

    